body {
    min-height: 100vh; 
}

div .hidden {
    display: none!important
}

#home {
    background-image: url('assets/home_dungeon_bg.jpg');
    background-position: center;
    height: calc(100vh - 56px);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Change the home screen text depending on screen size */
@media (max-width: 575.98px) { 
    #home-text {
        width: 100vw;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    #home-text {
        width: 100vw;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    #home-text {
        width: 100vw;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #home-text {
        width: 50vw;
    }
}
@media (min-width: 1200px) { 
    #home-text {
        width: 50vw;
    }
}
/* Space out the home buttons */
#home .lead a {
    margin-right: 10px;
    margin-left: 10px;
}
/* Style for home image credit */
#home-image-credit {
    font-size: small;
}

#dungeon-entrance-image-credit {
    font-size: small;
}

.draft {
    margin-top: 50px;
    margin-bottom: 50px;
}

.draft-table {
    text-align: left;
    font-weight: bold;
}

.draft-table .col {
    height: 31px;
}

.draft-table button{
    height: 24px;
    padding-top: 0px;
    position: relative;
    right: 9px;
    font-weight: bold;
}

.draft-table-heading {
    background-color: gray;
}